* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 뷰포트의 높이를 100%로 설정 */
    margin: 0; /* 기본 마진 제거 */
    background-color: rgb(50, 50, 61);
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 400px;
    height: 450px;
    padding: 40px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.8); /* rgba로 수정 */
    border-radius: 30px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    position: relative;
}

#login-form {
    width: 100%;
}

#login-form > input {
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F8F8F8;
}

#login-form > input::placeholder {
    color: #D2D2D2;
}

#login-form > input[type="submit"] {
    color: #000000;
    font-size: 16px;    
    background-color: #ffffff;
    margin-top: 20px;
}

#login-form > input[type="checkbox"] {
    display: none;
}

#login-form > label {
    color: #ffffff;
}

#login-form input[type="checkbox"] + label {
    cursor: pointer;
    padding-left: 26px;
    background-image: url("checkbox.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#login-form input[type="checkbox"]:checked + label {
    background-image: url("checkbox-active.png");
    background-repeat: no-repeat;
    background-size: contain;
}

a.login-forget {
    text-decoration: none;
    color: white;
    margin-bottom: auto;
}

a.login-forget:link {
    color: white;
}

a.login-forget:visited {
    color: white;
    text-decoration: none;
}

#NAME {
    font-size: 50px;
    color: white;
    margin-top: -20px;
}

.join {
    text-align: center;
    font-size: 10px;
    color: white;
    margin-top: 10px
}

a.injoy {
    text-decoration: none;
    color: gray;
}

a.injoy:link {
    color: gray;
}

a.injoy:visited {
    color: gray;
}

#nick-name{
    color: white;
}

#user-email{
    color: white;
}

#certification{
    background-color: gray; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    height: 20px;
}